html {
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-touch-callout: none;
    /* prevent webkit from resizing text to fit */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Arial, Helvetica;
    background-color: #e0e0e0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#loginButtonWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginButton {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

    #loginButton:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }

button {
    border: 1px solid #999;
    color: #555;
    background-color: #F4F4FA;
    padding: 0 10px;
}

    button:hover {
        background-color: white;
    }

input[type=text], input:not([type]) {
    padding: 0 10px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Main page structure and masthead style */
#wrapper {
    max-width: 800px;
    margin: auto;
    padding: 30px 10px 10px 10px;
}

article {
    background-color: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

header {
    background-color: #71BCFA;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    header h1 {
        text-transform: uppercase;
        font-weight: normal;
        color: #545353;
        font-size: 20px;
        margin: 4px;
    }

    header h2 {
        text-transform: uppercase;
        font-weight: normal;
        color: white;
        font-size: 14px;
        margin: 4px;
    }

#summary {
    text-align: center;
    padding: 8px 0;
}

/* "Add new" form */
#add-item {
    height: 26px;
    margin: 8px 0 5px 0;
    font-size: 1em;
}

    #add-item div {
        overflow: hidden;
    }

    #add-item button {
        float: right;
        margin-left: 10px;
        padding: 0 10px;
        height: 100%;
        border-radius: 4px;
    }

#new-item-text {
    width: 100%;
    height: 26px;
    border: 1px solid #999;
    font-size: 1em;
    border-radius: 4px;
}

/* List of items */
#todo-items {
    padding: 8px;
    margin: 0;
}

    #todo-items li {
        list-style-type: none;
        height: 36px;
        padding: 0;
        border-bottom: 1px solid #dadada;
    }

.item-complete {
    float: left;
    margin: 0;
    height: 100%;
}

.item-delete {
    float: right;
    margin: 5px;
    height: 26px;
}

/* Textboxes in list of items */
#todo-items li div {
    overflow: hidden;
    padding: 5px 2px;
}

.item-text {
    width: 100%;
    height: 26px;
    line-height: 24px;
    border: 1px solid transparent;
    background-color: transparent;
}

    .item-text:focus, .item-text:hover {
        border-color: #aaa;
        background-color: #FFC;
    }

/* Footer */
footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 20px;
}

    footer a {
        color: #666;
        display: block;
    }

#errorlog {
    color: red;
    font-weight: bold;
    padding: 8px;
    display: inline-block;
    text-align: left;
}
